services:
  hl7-fhir-transformer:
    build: .
    ports:
      - "8090:8080"

    restart: unless-stopped
    container_name: hl7-fhir-transformer
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://admin:supersecret@host.docker.internal:27017/admin?authSource=admin
      SPRING_RABBITMQ_HOST: host.docker.internal
      SPRING_DATA_REDIS_HOST: host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./src/main/resources/application.properties:/app/config/application.properties
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 1G
